<ng-container>
  <div class="card">
    <div class="card-header text-center text-success">
      <h1>Custom Payment Component</h1>
    </div>
    <div class="card-body">
      <p class="card-text text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae accusamus
        ab iusto unde quidem ipsa ratione, modi veritatis dicta ut illum
        similique nisi ipsam, delectus at amet saepe quibusdam magnam?
      </p>
      <a (click)="doSomething()" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</ng-container>
