<ng-container>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/img/m1.jpg" alt="molinos" />
        <h1 class="text text-center text-success">Custom Carousel Component</h1>
      </div>
      <div class="swiper-slide">
        <img src="assets/img/m2.jpg" alt="molinos" />
        <h1 class="text text-center text-success">Custom Carousel Component</h1>
      </div>
      <div class="swiper-slide">
        <img src="assets/img/m3.jpg" alt="molinos" />
        <h1 class="text text-center text-success">Custom Carousel Component</h1>
      </div>
    </div>
  </div>
</ng-container>
